<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Usuário</title>
</head>
<body>
    <h1>Perfil do Usuário</h1>
    <p>Nome: <%= user.fullName %></p>
    <p>Email: <%= user.email %></p>
    <!-- Outras informações do usuário -->
</body>
</html>
